* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: white;
  background-image: url(https://i.pinimg.com/originals/92/04/04/920404c5fff061b116008932b8dbe204.gif);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: grid;
  place-items: center;
  padding: 10%;
  min-height: 100vh;
}

.owl-carousel {
  overflow: hidden;
}

.container {
  background: rgba(0, 55, 131, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

h2 {
  padding-bottom: 1%;
}

h3::before,
h3::after {
  content: "-";
}

q {
  padding-top: 2%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
  flex-basis: 50%;
}

.image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.owl-carousel .owl-item img {
  object-fit: cover;
  height: 200px;
  width: 200px;
}
